<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>Priest - Register Center</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css">
    <script src="/js/module/common/common.js" charset="utf-8"></script>
<!--    <script type="text/javascript" data-main="/js/main_index" src="/plugins/require/require.js"></script>-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Priest</div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">服务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/register/index">注册列表</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-collapse table-register">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">LOTHAR注册服务</h2>
                <div class="layui-colla-content layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" id="lotharTable" lay-filter="lotharFilter"></table>
                </div>
            </div>
            <div class="layui-colla-item layui-colla-item-second">
                <h2 class="layui-colla-title">PALADIN注册服务</h2>
                <div class="layui-colla-content layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" id="paladinTable" lay-filter="paladinFilter"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © tuskrobots.com
    </div>
</div>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/module/register/index.js}"></script>
<link rel="stylesheet" th:href="@{/css/module/register.css}" media="all">
</body>
</html>
