<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mo="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head th:insert="/common/layui-head :: head"/>
<!--layui-layout-body 高度自适应-->
<body class="layui-layout-body">
<!--layui-layout-admin 自适应-->
<div class="layui-layout-admin">
    <!--引入Logo layui-header height: 60px-->
    <head th:insert="/common/layui-header :: header"/>
    <!--引入左侧导航栏 layui-side 高度自适应-->
    <div th:insert="/common/layui-side :: side"/>
    <!--layui-body 高度自适应-->
    <div class="layui-body">
        <!--搜索-->
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="pull-left layui-form-pane">

                    <div class="layui-inline ui-widget">
                        <label class="layui-form-label" for="projectName">项目名称</label>
                        <div class="layui-input-block">
                            <input class="layui-input" id="projectName" placeholder="请输入项目名称">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">注册日期</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="registerDate"
                                   placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">到期日期</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="expireDate" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-inline queryDiv">
                        <button class="layui-btn" data-type="reload"><i class="fa fa-search"></i></button>
                        <button class="layui-btn" data-type="add"><i class="fa fa-plus">添加</i></button>
                        <button class="layui-btn" data-type="reset"><i class="fa fa-undo">重置</i></button>
                    </div>

                </div>

            </div>
            <!--数据表格-->
            <table class="layui-hide" id="licenseTable" lay-filter="licenseFilter"></table>
        </div>
        <!--行按钮-->
        <script type="text/html" id="licenseBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            <a class="layui-btn priest-btn-token layui-btn-xs" lay-event="genRegister">授权</a>
        </script>
        <script src="/js/module/common/common.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/module/license/index.js"></script>
    </div>
    <!--layui-footer height: 44px-->
<div th:insert="/common/layui-footer :: footer"/>
</div>
</body>
</html>
